.testimonial  {
    background-color: $verde;
    font-size: 2.2rem;
    padding: 2rem;
    color: $blanco;
    border-radius: 1rem;
    blockquote {
        padding-left: $separacion;
        &::before {
            content: '';
            display: block;
            background-image: url(../img/comilla.svg);
            background-repeat: no-repeat;
            width: 6rem;
            height: 8rem;
            position: absolute;
            right: 23rem;
        }
    }
    p {
        text-align: right;
        color: $blanco;
        font-weight: $bold;
    }
}